.container {
  /* font-family: Arial, sans-serif; */
  /* background-color: white; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  display: flex;
  width: 100vw;
  padding: 2rem 10rem;

  --highlight: rgb(84, 109, 255);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /*overflow: hidden;*/
    padding-top: 70px;
    height: max-content;
  }
}

/* TODO see for eg Unreal Engine's form for nice buttons, animations */

.contact_info {
  flex: 1;
  padding: 20px;
}

.contact_info h1 {
  font-size: 2em;
}

.contact_info p {
  margin: 10px 0;
}

.contact_info .social_icons {
  margin-top: 20px;
}

.contact_info .social_icons a {
  margin-right: 10px;
  color: var(--highlight);
  text-decoration: none;
  font-size: 1.5em;
}

.contact_form {
  flex: 2;
  padding: 20px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
}

.contact_form label {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.contact_form input,
.contact_form textarea {
  padding: 10px;
  /* margin-top: 5px; */
  border: 2px solid var(--highlight);
  /* border-color: navy; */
  border-radius: 5px;
  background-color: #47474742;
  color: black;
  font-size: 1.6rem;
}

.contact_form button {
  font-size: 1.6rem;
  margin-top: 20px;
  background-color: var(--highlight);
  /* color: #fff; */
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 5px;
  border: none;
}
