.page {
  /* background-color: white; */
  min-height: 100svh;
  color: rgb(255, 255, 255);

  padding: calc(3rem + var(--navbar-height)) 7% 0rem 7%;
}

.page h2 {
  font-size: 2em;
  color: rgb(49, 152, 255);
  margin-bottom: 1rem;
}

.content {
  margin: auto;
  font-size: 1.3rem;
}

.group_photo {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.description {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 2em;
}

@media (max-aspect-ratio: 1/1) {
  .description {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.description p {
  /* max-width: 600px; */
}

.group_photo {
  width: 100%;
  max-width: 650px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.click_command {
  margin-top: 3.4rem;
}
