.navbar {
  height: var(--navbar-height);
  font-size: 1.4rem;
  padding: 0.2rem 1rem;

  position: fixed;
  z-index: 100;
  width: 100vw;

  background-color: #000000d0;
  backdrop-filter: blur(0.6rem);

  --link-highlight: #1768ff;
}

.logo_link {
  height: 100%; /* of Navbar height*/
}

.logo {
  width: auto;
  height: 94%; /* of Link height */
  transition: transform 0.1s;
}

.logo:hover {
  transform: scale(1.08);
}

@media (min-aspect-ratio: 1/1) {
  .links {
    position: fixed;
    transform: translate(-50%, -50%);
    top: calc(var(--navbar-height) / 2);
    left: 50vw;

    display: flex;
    gap: 1rem;
  }

  .mobile_active {
    display: none;
  }
}

.subpage_link {
  text-decoration: none;
  color: white;
  margin: 0 0.6rem;
  /* font-weight: lighter; */
  position: relative;

  /* https://css-irl.info/animating-underlines/ */
  transition: color 0.1s;
  background: none,
    linear-gradient(to right, var(--link-highlight), var(--link-highlight));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.subpage_link:hover {
  color: var(--link-highlight);
  background-size: 0 0.1em, 100% 0.1em;
}

/* TODO active doesn't override .links a. so made separate inactive class */
.active {
  background-size: 0 0.1em, 100% 0.1em;
}

.buttons {
  display: flex;
  gap: 1rem;
}

@media (max-aspect-ratio: 1/1) {
  .navbar {
    font-size: 1.35rem;
  }

  .links {
    width: 13ch; /* achievements */
    position: fixed;
    right: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: rgb(0, 0, 0);
    border-radius: 0.4rem;
    padding: 0.4rem 0rem;
  }

  .mobile_active {
    width: 13ch;
    background-color: rgb(0, 0, 0);
    border-radius: 0.4rem;
    padding: 0.4rem;

    position: fixed;
    right: 0.5rem;
    top: calc(var(--navbar-height) / 2);
    transform: translateY(-50%);

    user-select: none;
    -webkit-user-select: none;
  }

  .dropdown_closed {
    display: none;
  }
}

/* .reach_out {
  padding: 0.5rem 0.8rem;
  margin: 0rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;

  background-color: #ffffff;
  color: #000;
  transition: transform 100ms;
}

.reach_out:hover {
  transform: scale(1.1);
} */
