.navbar {
  height: 5rem;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;

  position: fixed;
  z-index: 100;
  width: 100vw;

  background-color: #000000d0;
  backdrop-filter: blur(0.6rem);

  display: flex;
  /* justify-content: end; */
  justify-content: space-between;
  align-items: center;

  --link-highlight: #1768ff;
}

.logo_link {
  height: 100%; /* of Navbar height*/
}

.logo {
  /* send logo to left */
  /* margin-right: auto; */

  display: block;
  width: auto;
  height: 98%; /* of Link height */
  transition: transform 0.1s;
}

.logo:hover {
  transform: scale(1.08);
}

.links {
  display: flex;
  gap: 0.5rem;
  /* margin-right: 2rem; */
}

.subpage_link {
  text-decoration: none;
  color: white;
  margin: 0 0.6rem;
  /* font-weight: lighter; */
  position: relative;

  /* https://css-irl.info/animating-underlines/ */
  transition: color 0.1s;
  background: none,
    linear-gradient(to right, var(--link-highlight), var(--link-highlight));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.subpage_link:hover {
  color: var(--link-highlight);
  background-size: 0 0.1em, 100% 0.1em;
}

/* TODO active doesn't override .links a. so made separate inactive class */
.active {
  background-size: 0 0.1em, 100% 0.1em;
}

.buttons {
  display: flex;
  gap: 1rem;
  /* font-size: 2rem; */
}

.reach_out {
  padding: 0.5rem 0.8rem;
  margin: 0rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;

  background-color: #ffffff;
  color: #000;
  transition: transform 100ms;
}

.reach_out:hover {
  transform: scale(1.1);
}
