.navbar {
  display: flex;
  /* justify-content: end; */
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 2em;
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 9rem; /* indirectly: controls navbar height */
  height: auto;

  /* send logo to left */
  /* margin-right: auto; */
}

.logo img {
  display: block;
  width: 95%;
  height: auto;
}

.links {
  display: flex;
  gap: 0.5rem;
  /* margin-right: 2rem; */
}

.subpage_link {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  margin: 0 0.6em;
  font-weight: lighter;
  position: relative;

  /* https://css-irl.info/animating-underlines/ */
  transition: color 0.1s;
  background: none,
    linear-gradient(to right, rgb(183, 183, 183), rgb(183, 183, 183));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.subpage_link:hover {
  color: gray;
  background-size: 0 0.1em, 100% 0.1em;
}

/* TODO active doesn't override .links a. so made separate inactive class */
.active {
  background-size: 0 0.1em, 100% 0.1em;
}

.buttons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.reach_out {
  padding: 0.6rem 0.9rem;
  margin: 0rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;

  background-color: #ffffff;
  color: #000;
  transition: transform 100ms;
}

.reach_out:hover {
  transform: scale(1.1);
}
