
.page {
  /* min-height: 100svh; */
  background-color: white;
  color: black;
  padding: var(--navbar-height) 0rem 0rem 0rem;
}

.header h1 {
  font-size: 3rem;
  text-transform: uppercase;

  letter-spacing: 5px;
}

/* Keyframes for text blast-off effect */
@keyframes blastOff {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Keyframes for trailing particles */
/* @keyframes trailEffect {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translateY(50px);
  }
} */

/* Text animation */
.blast_text {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
  animation: blastOff 500ms ease-out forwards;
  position: relative;
  z-index: 1;
  /* Start invisible */
  opacity: 0;
}

.blast_text h1 {
  position: relative;
  z-index: -1;
}

/* Trail effect */
/* .trail {
  position: absolute;
  width: 100%;
  height: 20px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent);
  animation: trailEffect 1.5s ease-out forwards;
  z-index: 0;
} */

/* Header styling */
.header {
  /* height: 100vh; */
  height: calc(927 / 1454 * 98vw);
  /* background: linear-gradient(to bottom, #0d1a26, #08121a); */
  background-size: 100%;
  background-image: url("/nextjs-testing/homepage_bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: black;
}

.header h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  /* letter-spacing: 5px; */
  font-weight: 700;
  /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
}

.header p {
  margin-top: 20px;
  font-size: 1.8rem;
  color: black;
  /* animation: fadeIn 2s ease-out 1.5s forwards; Optional delay for tagline */
  /* opacity: 0; */
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1.2rem;
  }
}


/* Additional animation for the tagline */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header p {
  font-size: 3 rem;
  margin-top: 10px;
}

.section {
  padding: 50px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section p {
  font-size: 1rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .hero-text {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 10px;
  }

  .rocket-image {
    width: 100%;
    height: auto;
  }

  .section {
    padding: 1rem;
  }
}


.vision {
  clip-path: polygon(0 11%, 100% 0%, 100% 89%, 0% 100%);
  /* margin-bottom: auto; */
  transform: translateY(-150px);
  padding: 130px 100px 25px 100px;
  text-align: center;
  background: white;
  color: black;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  gap: 40px;
  
}


.team_info {
  margin-left: 0;
  padding: 1;
  /*transform: translate(-40px, -30px);*/     
}

.team_info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;

}

.team_info p {
  text-align: left;
  font-size: 20;
  width: 500px;
  word-wrap: break-word;
  margin-top: auto;

}

.other {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* transform: translate(30px, -50px); */
}

.achieve h2 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: black;
}

.achieve p {
  font-size: 20;
}

.compi h2 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: black;
}

.compi p {
  font-size: 20;
}

.rnd h2 {
  font-size: 2rem;
  margin-bottom: 3px;
  color: black;
}

.rnd p {
  font-size: 20;
}

.vis h2 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: black;
}

.vis p {
  font-size: 20;
}
@media (max-width: 768px) {
  .vision {
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    transform: translateY(-40px);
    padding: 50px 10px;
    flex-direction: column;
    
}
.team_info h2{
  transform: none;
}
.team_info p{
  transform: none;
  font-size: 15px;
  padding-right: 65px;
  padding-left: 10px;
}
.achieve h2{
  transform: none;
  font-size: 1.5rem;
}
.achieve p{
  transform: none;
  font-size: 15px;
}
.compi h2{
  transform: none;
  font-size: 1.5rem;
}
.compi p{
  transform: none;
  font-size: 15px;
}
.rnd h2{
  transform: none;
  font-size: 1.5rem;
}
.rnd p{
  transform: none;
  font-size: 15px;
}
.vis h2{
  transform: none;
  font-size: 1.5rem;
}
.vis p{
  transform: none;
  font-size: 15px;
}


}

/*.vision h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

.vision p {
  text-align: left;
  font-size: 20;
}*/

.typewriter_container {
  margin: 20px auto;
  max-width: 600px;
  height: 50px;
}

.typewriter_text {
  font-size: 1.5rem;
  /* font-family: "Courier New", Courier, monospace; */
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  /* width: 0; */
  /* Start hidden */
  /* animation: typing 3s steps(40, end), blink 0.7s step-end infinite alternate; */
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: white;
  }
}

.fade_in_items p {
  font-size: 1.6rem;
  margin: 15px auto;
  /* Center align horizontally */
  text-align: justify;
  /* Center align text */

  /* opacity: 0; */
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  padding: 0rem 6rem;
}

/* .fade_in_items p.visible {
  opacity: 1;
  transform: translateY(0);
} */

.stats_section {
  background-color: navy;
  position: relative;
  clip-path: polygon(0 14%, 100% 0, 100% 87%, 0 100%);
  /* background: url("#") no-repeat center center/cover; */
  /* Replace with your image */
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);

  text-align: center;
}

/* Overlay for darker effect */
.stats_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white(0, 0, 0, 0.6);
  /* Dark overlay */
  z-index: 1;
}

/* Stats container */
.stats {

  display: flex;
  gap: 30px;
  z-index: 2;
}

.stats h2 {
  display: inline-block;
  color: white;
  transform: translate(300px, -100px);
  font-size: 2.3rem;

}

/* Single stat box */
.stat {
  width: 20ch;
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent background */
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-100px);
}

/* Stat number */
.stat h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
  color: #0d1a26;
  text-align: center;
}

/* Stat description */
.stat p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: black;
}

/* Responsive design */
@media (max-width: 768px) {
  .stat h1{
    transform: none;
    font-size: 2rem;
    padding-top: 10px;
    
  }
  
  .stats_section {
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    padding: 50px 20px;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
  }
  .stats h2{
    transform: translate(390px,-170px);
    padding-left: 10px;
  }
  
}

/*.section {
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);

  text-align: center;
  padding: 50px 20px;
  background-color: white;
}*/

.section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.slidercontainer {
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 100px 100px 150px 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.rocketContainer {
  display: flex;
  /* Enables side-by-side layout */
  align-items: center;
  /* Aligns content vertically */
  gap: 20px;
  /* Adds spacing between text and image */
  width: 100vw;
  /* margin-right: 300px; */
}

.slides {
  display: flex;
  animation: slideAnimation 10s ease-in-out infinite;
}

.info {
  flex: 1;
  /* Takes up available space */
  text-align: left;
}

.imageContainer {
  flex: 1;
  /* Takes up available space */
  display: flex;
  justify-content: center;
}

.rocketImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-50%);
  }

  60% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0%);
  }
}
.subsystem{
  clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
  /* margin-bottom: auto; */
  transform: translateY(10px);
  padding: 120px 100px 50px 100px;
  text-align: center;
  background: navy;
  color: white;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  gap: 30px;
}

.sub_info {
  margin-left: 0;
  transform: translateX(-65px);
  /* transform: translate(-40px, -30px); */
}

.sub_info h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  

}

.sub_info p {
  text-align: left;
  font-size: 20;
  width: 500px;
  word-wrap: break-word;
  margin-top: auto;

}

.other_one{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 70px;
  transform: translateX(-75px);
  /* transform: translate(30px, -50px); */
}

.avionics h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  transform: translateX(-47px);
}

.avionics p {
  font-size: 17;
}

.propulsion h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  transform: translateX(-47px);
}

.propulsion p {
  font-size: 17;
}

.airframe h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  transform: translateX(-47px);
}

.airframe p {
  font-size: 17;
}

.business h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  transform: translateX(-47px);
}

.business p {
  font-size: 17;
}
@media (max-width: 768px) {
  .subsystem {
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
    flex-direction: column;
    padding: 50px 20px ;
    overflow: visible;
    gap: 10px;
    
  }
  .other_one {
    grid-template-columns: 1fr;
    
  }
  .sub_info h2{
    padding-left: 50px;
  }
  .sub_info p{
    font-size: 15;
    transform: none;
    padding-left: 62px;
    
  }
  .airframe h2{
    transform: none;
    padding-left: 65px;
  }
  .airframe p{
    padding-left: 80px;
    font-size: 16px;
  }
  .avionics h2{
    transform: none;
    padding-left: 65px;
  }
  .avionics p{
    padding-left: 80px;
    font-size: 16px;
  }
  .business h2{
    transform: none;
    padding-left: 65px;
  }
  .business p{
    padding-left: 80px;
    font-size: 16px;
  }
  .propulsion h2{
    transform: none;
    padding-left: 65px;
  }
  .propulsion p{
    padding-left: 80px;
    font-size: 16px;
  }
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}