.page {
  padding: var(--navbar-height) 0rem 0rem 0rem;
}

.slant {
  --slant: 4rem;
  --extra-padding: 3rem;

  /* content-box means the padding will add to the height, not clipping the text */
  /* then the clipping is in the pad region */
  height: fit-content;
  box-sizing: content-box;

  padding-top: calc(var(--slant) + var(--extra-padding));
  padding-bottom: calc(var(--slant) + var(--extra-padding));

  clip-path: polygon(
    0 var(--slant),
    100% 0,
    100% calc(100% - var(--slant)),
    0 100%
  );
}

.header {
  /* height: 100vh; */
  height: calc(927 / 1454 * 98vw);
  background-size: 100%;
  background-image: url("/homepage_bg.jpg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: black;

  --slant: 4rem;

  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--slant)), 0 100%);
}

.header h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
}

/* .header h2 {
  font-size: 2.1rem;
  margin-top: 10px;
} */

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.8rem;
  }

  .header h2 {
    font-size: 1.1rem;
  }
}

.vision {
  /* we want the slant to overlap the background of the intro */
  transform: translateY(calc(-1 * var(--slant)));

  padding-left: 5vw;
  padding-right: 5vw;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;

  z-index: 100;
}

.vision p {
  color: var(--fg-2);
}

.team_info {
  margin-left: 0;
  /* padding: 1; */
}

.team_info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.team_info p {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
  /* width: 400px; */
  word-wrap: break-word;
  margin-top: auto;
  padding: 0;
}

.other {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.other h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.other p {
  font-size: 1.25rem;
  font-weight: 300;
}

.other a {
  font-size: 20px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .vision {
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    transform: translateY(-40px);
    padding: 5rem 2rem;
    flex-direction: column;
  }

  .team_info p {
    font-size: 1.1rem;
  }

  .other {
    display: flex;
    flex-direction: column;
  }
}

.stats_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  /* transform: translateY(-20px); */

  background-color: rgb(7, 7, 40);
  color: white;
  text-align: center;
}

/* Stats container */
.stats {
  display: flex;
  gap: 30px;
  z-index: 2;
}

.stats_section h2 {
  color: white;
  font-size: 2.3rem;
}

/* Single stat box */
.stat {
  width: 20ch;
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent background */
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* transform: translateX(-100px); */
}

/* Stat number */
.stat h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

/* Stat description */
.stat p {
  margin: 10px 0 0;
  font-size: 1.2rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .stat h1 {
    transform: none;
    font-size: 2rem;
    padding-top: 10px;
  }

  .stats_section {
    /* clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%); */
    padding: 50px 20px;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-template-rows: repeat(2, auto);
    /* 2 rows */
  }

  .stats h2 {
    transform: translate(390px, -170px);
    padding-left: 10px;
  }
}

.slidercontainer {
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 100px 100px 150px 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.rocketContainer {
  display: flex;
  /* Enables side-by-side layout */
  align-items: center;
  /* Aligns content vertically */
  gap: 20px;
  /* Adds spacing between text and image */
  width: 100vw;
  /* margin-right: 300px; */
}

.slides {
  display: flex;
  animation: slideAnimation 10s ease-in-out infinite;
}

.info {
  flex: 1;
  /* Takes up available space */
  text-align: left;
}

.imageContainer {
  flex: 1;
  /* Takes up available space */
  display: flex;
  justify-content: center;
}

.rocketImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-50%);
  }

  60% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0%);
  }
}

.subsystems_container {
  clip-path: polygon(
    0 var(--slant),
    100% 0,
    100% 100%,
    /* dont have slant at the bottom as it's the last element*/ 0 100%
  );
  text-align: center;
  background: rgb(3, 3, 45);
  color: white;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.subsystems_container h2 {
  font-size: 2rem;
}

.subsystems {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 70px;
  text-align: left;
  /* transform: translateX(-75px); */
  /* transform: translate(30px, -50px); */
}

.subsystems h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
  /* transform: translateX(-47px); */
}

.subsystems p {
  font-size: 17px;
}

@media (max-width: 768px) {
  .subsystems_container {
    /* clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%); */
    flex-direction: column;
    padding: 50px 20px;
    overflow: visible;
    gap: 10px;
  }

  .subsystems {
    grid-template-columns: 1fr;
  }

  .sub_info h2 {
    padding-left: 50px;
  }

  .sub_info p {
    font-size: 15;
    transform: none;
    padding-left: 62px;
  }

  .airframe h2 {
    transform: none;
    padding-left: 65px;
  }

  .airframe p {
    padding-left: 80px;
    font-size: 16px;
  }

  .avionics h2 {
    transform: none;
    padding-left: 65px;
  }

  .avionics p {
    padding-left: 80px;
    font-size: 16px;
  }

  .business h2 {
    transform: none;
    padding-left: 65px;
  }

  .business p {
    padding-left: 80px;
    font-size: 16px;
  }

  .propulsion h2 {
    transform: none;
    padding-left: 65px;
  }

  .propulsion p {
    padding-left: 80px;
    font-size: 16px;
  }
}
