.center_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pitch {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 0rem;
}

.main {
  /*darken bg*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/nextjs-testing/agastya-5817.jpg");

  /* so shows the full height on mobile and full width on desktop */
  background-size: cover;
  /* shift the image down so starts below Navbar */
  /* centre it horizontally */
  background-position: 50% var(--navbar-height);

  width: 100vw;
  /* height: 100vh; */

  padding-top: calc(5rem + var(--navbar-height));
  /* padding-left: 10%;
  padding-right: 10%; */
}

.support_heading {
  text-align: center;
  text-transform: uppercase;

  /* width: min(30%, ); */
  /* --fontsize: max(3.5rem, 90%); */
  --fontsize: min(3.5rem, 7vw);

  /* margin: 2rem; */
  padding: 0;
  text-align: center;
}

.support_heading h2 {
  font-size: var(--fontsize);
}

.support_heading h1 {
  font-size: calc(var(--fontsize) * 1.4);
}

.button_container {
  margin: 2rem 2rem 0rem 2rem;
  color: white;
  text-shadow: rgb(255, 255, 255) 0.1rem 0 0.7rem;
  font-size: 1.6rem;
  transition: transform 100ms;

  width: min(50rem, 90vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button_holder {
  transition: transform 100ms;
}

.button_holder:hover {
  transform: scale(1.1);
}

.contact_us {
  display: block;
  width: 12ch;
  text-align: center;

  padding: 1rem;
  background-color: rgba(129, 129, 129, 0.092);
  margin: 1rem;
  border: 0.1rem solid white;
}

.description {
  margin: 1rem 0rem 3rem 0rem;
  /* padding: 0rem 17rem; */
  width: min(50rem, 85vw);
  text-align: justify;
  font-size: 1.4rem;
}

.tables {
  width: 100vw;
  padding: 3rem 6vw;
  position: relative;
}

/* grid background */
/* .tables::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100vw;
  height: 100%;
  z-index: -1;

  background-size: 4rem 4rem;
  background-image: linear-gradient(
      to right,
      rgb(49, 49, 49) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(49, 49, 49) 1px, transparent 1px);
} */

.tables h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.tables ol {
  list-style-type: none;
}

.tables br {
  font-size: 4rem;
}

.tables h4 {
  margin: 0rem 0rem 0.8rem 0rem;
  /* position: relative; */
  /* width: fit-content; */
  font-size: 1.7rem;
}

/* blue line separator */
/* .tables h4::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.19rem;
  background-color: rgb(47, 106, 255);
  top: 100%;
  left: 0;
} */

.tables p {
  color: #c0c0c0;
  font-size: 1.3rem;
  flex-wrap: wrap;
}

.reasons,
.help {
  display: grid;
  /* justify-content: space-between; */
  width: 100%;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  --gap: 4%;
  gap: var(--gap);
}

.tables li {
  height: fit-content;
  padding: 0.6rem;
  background-color: rgba(67, 67, 67, 0.3);
  border-radius: 0.6rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.616);
}

/* ------------ THANKS ------------------ */

.thanks {
  padding: 2rem;
  background-color: rgb(27, 27, 27);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.thanks_msg {
  font-size: 2rem;
  padding: 0;
  margin: 2rem 0rem 2rem 0rem;
}

.tier {
  padding: 0rem;
  /* color: black; */
  font-weight: 700;
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
  width: 50rem;
}

.tier h3 {
  font-size: 3rem;
}

.logos {
  display: flex;
}

.sponsor_logo {
  height: 4rem;
  width: auto;
  margin: 0.8rem 0.5rem;
}

.platinum {
  color: #e5e4e2;
}

.gold {
  color: #ffd700;
}

.silver {
  color: #c0c0c0;
}
