.center_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  width: 100vw;
}

.pitch {
  font-size: 2rem;
  /* background-color: white; */
  color: rgb(255, 255, 255);
  height: 80rem;
  padding: 4rem 9rem;
}

.description {
  margin: 2rem 0rem;
}

.background {
  width: 100vw;
  /* height: 38.65vw; */
  /* position: relative; */
  /* z-index: -10; */
  position: absolute;
  z-index: -1;
filter: brightness(55%);
}

.support_h1 {
  margin: 3rem;
  text-align: center;
}

.thanks_msg {
  font-size: 2rem;
  background-color: rgb(38, 37, 37);
}

.tier {
  color: black;
  font-weight: 700;
  padding: 8rem;
}

.platinum {
  background-color: #e5e4e2;
}

.gold {
  background-color: #ffd700;
}

.silver {
  background-color: #c0c0c0;
}

.button_container {
  margin: 2rem;
  color: white;
}

.contact_us {
  padding: 0.9rem;
  background-color: rgb(41, 62, 255);
  margin: 1rem;
  border-radius: 0.6rem;
}
