.page {
  padding: 3rem 10rem 3rem 10rem;

  background-color: white;
  color: black;
}

.table {
  /* background-color: darkblue; */
  font-weight: 300;
  font-size: 1.6rem;
  height: fit-content;
}

.table tbody th {
  font-weight: 300;
  width: 16rem;
  padding: 0.1rem 0.1rem;
}

.table thead {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
}

.table thead th {
  color: rgb(50, 50, 255);
}

.table td {
  width: 6rem;
  padding: 0.1rem 0.1rem;
  text-align: end;
}

.table tr {
  position: relative;
}

.table tr::after {
  content: "";
  width: 100%;
  height: 0.15rem;
  background-color: rgb(51, 51, 51);
  position: absolute;
  top: 100%;
  left: 0;
}

.table thead tr::after {
  height: 0.25rem;
}

.rocket_container {
  /* position: relative; */
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

.video {
  /* display: inline; */
  /* position: absolute; */
  /* top: 100%; */
  height: 20rem;
}
